services:
  postgres:
    image: postgres:16
    container_name: notification-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: notification_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - notification_pg_data:/var/lib/postgresql/data

volumes:
  notification_pg_data: